<<<<<<< HEAD
div.container {
  width: 280px;
  margin: 0 auto;
  padding:10px;
  border-radius: 4px;
}

div.container.header {
  background-color: #E0E4CC;
  margin-top: 12%;
  border: ;
}
div.container.body {
  background-color: #A7DBD8;
}

=======
>>>>>>> b6159e99fc20829d742a497646a0571b2bd99a9c
body {
  font: 18px Helvetica, "Lucida Grande", Arial, sans-serif;
}

<<<<<<< HEAD
span.spinner{float:right;}
span.btc{font-size: 20px;}

p { text-align: center; }

@media (max-width: 480px) { 

body {
  font: 12px Helvetica, "Lucida Grande", Arial, sans-serif;
}

span.btc{font-size: 14px; }
 
div.container {
  width: 200px;
}
}
=======
div.navbar {
  margin: 0 auto;
  margin-top: 15%;
  width: 280px;
  padding: 0, 5px; 
}


div.container {
  background-color: #bbb;
  width: 280px;
  margin: 0 auto;
  padding:10px;
}

p { text-align: center; }
>>>>>>> b6159e99fc20829d742a497646a0571b2bd99a9c
